{% extends "base.html" %}

{% comment %}
{% block titlepage %}Eventos{% endblock titlepage %}
{% endcomment %}

{% block content %}
  <div class="row">
    {% for event in object_list %}
    <div class="col-lg-4 col-sm-6" style="padding-bottom: 20px">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="{{ event.banner.url }}" alt="{{ event.title }}" height="150px"></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="{% url 'event-detail' event.pk %}">{{ event.title }}</a>
          </h4>
          <b class="card-text">
            {{ event.start_date|date:"d/m/Y" }}
          </b>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

<style type="text/css">
  

</style>
{% endblock content %}
