{% extends "base.html" %}

{% block content %}
<style type="text/css">
img{
border-radius: 50px;
}



</style>
<center>
  <div align="center">
    <img src="{{ object.banner.url }}" style="height: 300px; max-width: 1000px;">
  </div>
  <br>
  

<div>
  <h4>{{ object.title }}</h4>
</div>
  <br>
<div class="container">
  <div class="row">
    <div class="col">   
      <b>Início: </b> {{ object.start_date|date:"d/m/Y" }}
      <br><b>Tipo: </b> {{ object.get_kind_display }}
    </div>

    <div class="col">
      <b>Data Final: </b>{{ object.end_date }}<br>
      <b>Organizado por: </b>{{ object.organization }}<br> 
      <b>Local: </b>{{ object.local }}
    </div>
  </div>
</div>
  <br>
<div align="center">
  {{ object.description }}
</div>
<br>
  <div align="center">
  {% if not_user %}
    <button class="btn btn-danger" disabled>Necessário Login Para Inscrição</button>
  {% elif registred %}
    <button class="btn btn-success" disabled>Inscrito</button>
  {% else %}
    <a href="{% url 'event-registration' object.pk %}" class="btn btn-success btn-info">Realizar Inscrição</a>
  {% endif %}

  {% if request.user.is_superuser %}
    <a class="btn btn-info" href="{% url 'registrations-list' object.pk %}"> Gerenciar Evento
    </a>
  {% endif %}

  </div>
</center>
{% endblock content %}
